#content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 20px;
  font-family: sans-serif;
}

.pokemon_card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-height: 180px;
  width: 230px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.pokemon_card:hover {
  transform: scale(1.05);
}

.pokemon_card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  
}

.pokemon_card_title {
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 8px;
}

.pokemon_card_number {
  margin: 0;
  color: #777;
  font-size: 18px;
  text-align: right;
  padding: 8px 16px 0 0;
}

.pokemon_card_img_and_types{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    
}

.typ_attributes_p_tag{
  margin: 7px 0 0 0;
  width: 60px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 6px;
  gap: 1px;
}

.load_more_button{
  background-color: rgb(107, 11, 83);
  color: white;
  width: 160px;
  text-align: center;
  height: 30px;
  font-size: 18px;
}

.scroll_link {
  right: 20px;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff4c4c;
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  display: none;
}

.scroll_div{
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.scroll_div_bottom{
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

