::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(107, 11, 83);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
